@import "vars"

header
	padding: 52px 0 41px
	background: rgba(255, 255, 255, 0.80)
	backdrop-filter: blur(64px)

.logo
	max-width: 236px
	width: 100%
	@include d-flex

.btn-burger
	width: 47px
	height: 36px
	fill: $blue
	display: none
	align-items: center
	justify-content: center
	margin: 0 0 0 44px

.language-box
	.dropdown-menu
		min-width: auto
		width: 100%
		text-transform: uppercase
		border-radius: 5px
		padding: 10px 0

.cabinet-box
	margin: 0 0 0 60px
	&__avatar
		@include d-flex
		overflow: hidden
		border-radius: 50%
		width: 50px
		height: 50px
		min-width: 50px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&::after
		margin: 0 0 0 10px
	&__link
		svg
			fill: #fff
			@include d-flex
			width: 20px
			height: 20px
			min-width: 20px
			margin: 0 17px 0 0
		.fill-none
			fill: none
			stroke: #fff
	.dropdown-item
		&:hover
			svg
				fill: $blue
			.fill-none
				fill: none
				stroke: $blue

.nav-menu
	margin: 0 auto 0 70px

.menu
	display: flex
	align-items: flex-start
	font-size: 20px
	li
		margin: 0 18px 0 0
		&:last-child
			margin: 0
		a
			padding: 0 0 6px
			color: #A19178
			border-bottom: 1px solid transparent
			&.active, &:hover
				color: $blue
				border-color: $blue

// fixed-menu
.fixed-menu
	position: sticky
	overflow: hidden
	top: 0
	left: 0
	padding: 51px 56px 57.5px 63px
	border-radius: 0px 20px 20px 0px
	background: #082849
	width: fit-content
	max-width: 135px
	transition: max-width .3s ease
	z-index: 10
	&.active
		max-width: 311px
		.fixed-menu-link__text
			margin: 0 0 0 20px
	&-list
		max-width: 168px
	&-item
		margin: 0 0 50px
		&:last-child
			margin: 0
	&-link
		display: flex
		align-items: center
		color: #fff
		font-size: 16px
		min-height: 40px
		line-height: normal
		&:hover
			color: $accent
		&__icon
			@include d-flex
			width: 22px
			height: 20px
			min-width: 22px
			fill: #A19178
			position: relative
			&-value
				position: absolute
				z-index: 1
				left: 11px
				top: 50%
				transform: translate(0,-50%)
				background: #fff
				border-radius: 50%
				@include d-flex
				color: #082849
				font-size: 10px
				font-weight: bold
				width: 15px
				height: 15px
				min-width: 15px
		&__text
			min-width: 129px
			margin: 0 0 0 60px
			transition: .3s ease

